@use "../utils/_main" as utils
@use "../utils/_function" as functions
.header 
    width: 80%
    @include utils.flex($justify: space-between)
    margin: 0 auto
    margin-bottom: functions.pixelToRem(50)
    margin-top: functions.pixelToRem(20)

    &__logo
        @include utils.flex
        @extend %title-1

    &__nav
        @include utils.flex
        gap: 1em

    &__nav__list
        display: flex
        cursor: pointer
        gap: 1.5em
    
    &__nav__list__link
        @extend %navbar
        &:hover
            transform: scale(1.2)
            border-bottom: 1px solid #4BAEA0

