@use "../utils/_main" as utils
@use "../utils/_function" as functions
.container3
    padding-top: functions.pixelToRem(40)
    &__item
        @include utils.flex($justify: space-evenly)
        flex-wrap: wrap
        height: auto

        &__box
            @include utils.flex($direction: column)
            width: functions.pixelToRem(350)
            text-align: justify
            border-left: 1px solid transparent
            padding-left: functions.pixelToRem(15)

            &__title
                padding: functions.pixelToRem(15)
                @extend %paragraphe

            &__p
                @extend %paragraphe-2